In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

plt.style.use('fivethirtyeight')

from ipywidgets import *
from IPython.display import display

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [126]:
df = pd.read_csv("/Users/medhimugnier/Desktop/capstone/datasets/2015-2016_passagesRM_LesGets - Tabelle1.csv")

In [127]:
df.head()

,Passages-résumé rapport détaillé,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Regroupement par remontée,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Société :,S.A.G.E.T.S [PDS New],NaN,NaN,NaN,Période,19.10.2015,-,30.04.2016
2,Nom du rapport :,Passages,NaN,NaN,NaN,NaN,NaN,ERROR AUTO SAGETS global re,NaN
3,NaN,NaN,NaN,NaN,NaN,Remontées,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
df.shape

(6641, 9)

In [142]:
df = df[df['Passages-résumé rapport détaillé'] != 'Regroupement par remontée']
df = df[df['Passages-résumé rapport détaillé'] != 'Société :']
df = df[df['Passages-résumé rapport détaillé'] != 'Nom du rapport :']
df = df[df['Passages-résumé rapport détaillé'] != 'Installation']
df = df[df['Passages-résumé rapport détaillé'] != 'Passages-résumé rapport détaillé']
df = df[df['Unnamed: 5'] != 'Remontées']
df = df[df['Unnamed: 2'] != 'Rapport Axess AG V8.0.08  114/2  (DB V11.1.00.00)']
df = df[df['Unnamed: 2'] != 'Rapport Axess AG V8.0.08  114/2  (DB V11.1.00.00)']
df = df[df['Unnamed: 1'] != '13.12.2016 14:42']
df = df[df.date != 'Somme']

KeyError: 'Passages-r\xc3\xa9sum\xc3\xa9 rapport d\xc3\xa9taill\xc3\xa9'

In [133]:
df = df.dropna(how='all')

In [151]:
df = df[df.date != 'Total']

In [155]:
df.head()

,date,libre_permanent,libre_manuel,passages_forces,forfaits,transaction,difference,-,total
6,NaN,160 TK Super Chery 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,19.10.2015,0,0,0,0,0,0,NaN,0
9,20.10.2015,0,0,0,0,0,0,NaN,0
10,21.10.2015,0,0,0,0,0,0,NaN,0
11,22.10.2015,0,0,0,0,0,0,NaN,0

In [165]:
def fill_the_gaps(lift):
    lifts = ['None']
    
    if len(lift) > 5:
        lifts.append(lift)
        pass
    
    else:
        lift = lifts[-1]
        return lift

In [182]:
lifts = ['None']

def fill_the_gaps(lift):
    
    if len(lift) > 5:
        lifts.append(lift)
        return lift
    
    else:
        lift = lifts[-1]
        return lift

In [183]:
df.insert(0,'lift_fill_in3',df['libre_permanent'].map(lambda x : fill_the_gaps(x)))

In [186]:
df = df.drop(['lift_fill_in2','lift_fill_in'],1)

ValueError: labels ['lift_fill_in2' 'lift_fill_in'] not contained in axis

In [198]:
#df = df[:-1]

In [219]:
len(df.lift.values[0])

True

In [228]:
df = df[df['libre_permanent'].str.len() < 5]

In [238]:
df.drop('lift',1, inplace = True)

/Users/medhimugnier/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [242]:
df.rename(columns = {'lift_fill_in3':'lift'}, inplace = True)

/Users/medhimugnier/anaconda/envs/dsi/lib/python2.7/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [247]:
df.to_csv('lesgetsdatacleaned.csv')

In [246]:
df

,lift,date,libre_permanent,libre_manuel,passages_forces,forfaits,transaction,difference,-,total
8,160 TK Super Chery 160,19.10.2015,0,0,0,0,0,0,NaN,0
9,160 TK Super Chery 160,20.10.2015,0,0,0,0,0,0,NaN,0
10,160 TK Super Chery 160,21.10.2015,0,0,0,0,0,0,NaN,0
11,160 TK Super Chery 160,22.10.2015,0,0,0,0,0,0,NaN,0
12,160 TK Super Chery 160,23.10.2015,0,0,0,0,0,0,NaN,0
13,160 TK Super Chery 160,24.10.2015,0,0,0,0,0,0,NaN,0
14,160 TK Super Chery 160,25.10.2015,0,0,0,0,0,0,NaN,0
15,160 TK Super Chery 160,26.10.2015,0,0,0,0,0,0,NaN,0
16,160 TK Super Chery 160,27.10.2015,0,0,0,0,0,0,NaN,0
17,160 TK Super Chery 160,28.10.2015,0,0,0,0,0,0,NaN,0
18,160 TK Super Chery 160,29.10.2015,0,0,3,0,0,0,NaN,3
19,160 TK Super Chery 160,30.10.2015,0,0,0,0,0,0,NaN,0
20,160 TK Super Chery 160,31.10.2015,0,0,0,0,0,0,NaN,0
21,160 TK Super Chery 160,01.11.2015,0,0,0,0,0,0,NaN,0
22,160 TK Super Chery 160,02.11.2015,0,0,0,0,0,0,NaN,0
23,160 TK Super Chery 160,03.11.2015,0,0,0,0,0,0,NaN,0
24,160 TK Super Chery 160,04.11.2015,0,0,0,0,0,0,NaN,0
25,160 TK Super Chery 160,05.11.2015,0,0,0,0,0,0,NaN,0
26,160 TK Super Chery 160,06.11.2015,0,0,0,0,0,0,NaN,0
27,160 TK Super Chery 160,07.11.2015,0,0,0,0,0,0,NaN,0
28,160 TK Super Chery 160,08.11.2015,0,0,0,0,0,0,NaN,0
29,160 TK Super Chery 160,09.11.2015,0,0,0,0,0,0,NaN,0
30,160 TK Super Chery 160,10.11.2015,0,0,0,0,0,0,NaN,0
31,160 TK Super Chery 160,11.11.2015,0,0,0,0,0,0,NaN,0
32,160 TK Super Chery 160,12.11.2015,0,0,0,0,0,0,NaN,0
33,160 TK Super Chery 160,13.11.2015,0,0,0,0,0,0,NaN,0
34,160 TK Super Chery 160,14.11.2015,0,0,0,0,0,0,NaN,0
35,160 TK Super Chery 160,15.11.2015,0,0,0,0,0,0,NaN,0
36,160 TK Super Chery 160,16.11.2015,0,0,0,0,0,0,NaN,0
37,160 TK Super Chery 160,17.11.2015,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
6595,251 TK Turche 251,01.04.2016,0,0,1,669,669,0,NaN,670
6596,251 TK Turche 251,02.04.2016,0,0,0,334,334,0,NaN,334
6597,251 TK Turche 251,03.04.2016,0,0,0,427,427,0,NaN,427
6598,251 TK Turche 251,04.04.2016,0,0,0,492,492,0,NaN,492
6599,251 TK Turche 251,05.04.2016,0,0,0,374,374,0,NaN,374
6600,251 TK Turche 251,06.04.2016,0,0,0,370,370,0,NaN,370
6601,251 TK Turche 251,07.04.2016,0,0,0,500,500,0,NaN,500
6602,251 TK Turche 251,08.04.2016,0,0,0,472,472,0,NaN,472
6603,251 TK Turche 251,09.04.2016,0,0,0,235,235,0,NaN,235
6604,251 TK Turche 251,10.04.2016,0,0,0,303,303,0,NaN,303
6605,251 TK Turche 251,11.04.2016,0,0,0,0,0,0,NaN,0
6606,251 TK Turche 251,12.04.2016,0,0,0,0,0,0,NaN,0
6607,251 TK Turche 251,13.04.2016,0,0,0,0,0,0,NaN,0
6608,251 TK Turche 251,14.04.2016,0,0,0,0,0,0,NaN,0
6609,251 TK Turche 251,15.04.2016,0,0,0,0,0,0,NaN,0
6610,251 TK Turche 251,16.04.2016,0,0,0,0,0,0,NaN,0
6611,251 TK Turche 251,17.04.2016,0,0,0,0,0,0,NaN,0
6612,251 TK Turche 251,18.04.2016,0,0,0,0,0,0,NaN,0
6613,251 TK Turche 251,19.04.2016,0,0,0,0,0,0,NaN,0
6614,251 TK Turche 251,20.04.2016,0,0,0,0,0,0,NaN,0
6615,251 TK Turche 251,21.04.2016,0,0,0,0,0,0,NaN,0
6616,251 TK Turche 251,22.04.2016,0,0,0,0,0,0,NaN,0
6617,251 TK Turche 251,23.04.2016,0,0,0,0,0,0,NaN,0
6618,251 TK Turche 251,24.04.2016,0,0,0,0,0,0,NaN,0
6619,251 TK Turche 251,25.04.2016,0,0,0,0,0,0,NaN,0
6630,251 TK Turche 251,26.04.2016,0,0,0,0,0,0,NaN,0
6631,251 TK Turche 251,27.04.2016,0,0,0,0,0,0,NaN,0
6632,251 TK Turche 251,28.04.2016,0,0,0,0,0,0,NaN,0
6633,251 TK Turche 251,29.04.2016,0,0,0,0,0,0,NaN,0
6634,251 TK Turche 251,30.04.2016,0,0,0,0,0,0,NaN,0